<?xml version="1.0" encoding="utf-8" ?>
<ThinkDev.Logging>
  <!-- 日志组件全局配置 -->
  <Global IsLog="True" ThrowException="false" IsAsyn="true" StartDebugConsole="true" InnerLogPath="D:\ThinkDevLog\"/>

  <!-- 日志组件用户自定义变量 -->
  <Variable>
    <var name="LogDir" value="D:\ThinkDevLog\"/>
    <var name="MailServer" value="192.168.23.230"/>
    <var name="FromMail" value="webalarm@rundamedical.com"/>
    <var name="MailAccount" value="webalarm"/>
    <var name="MailPassword" value="runda123"/>
    <!--<var name="MailServer" value="smtp.qiye.aliyun.com"/>
    <var name="FromMail" value="webalarm@mai47.com"/>
    <var name="MailAccount" value="webalarm@mai47.com"/>
    <var name="MailPassword" value="gKjDXzQiyHKFn8hC"/>-->
    <var name="ToMail" value="wangsiyuan@rundamedical.com"/>
    <var name="SysName" value="Runda.B2B.Web.MainWeb ThinkDev.Logging"/>
  </Variable>

  <!-- 日志组件日志记录媒体 -->
  <Targets>
  </Targets>

  <!-- 日志对象 -->
  <Loggers>
    <Logger name="StorageLogger" ConfigMode="Classics" IsLog="true" Targets="" Layout="{LongDate} - {message}"></Logger>
    <Logger name="DefaultLogger" ConfigMode="Classics" IsLog="true" Targets="" Layout="{LongDate} - {message}"></Logger>
    <Logger name="PurchaseLogger" ConfigMode="Classics" IsLog="true" Targets="" Layout="{LongDate} - {message}"></Logger>
    <Logger name="DeliverDownLogger" ConfigMode="Classics" IsLog="true" Targets="" Layout="{LongDate} - {message}"></Logger>
    <Logger name="OrderMsgLogger" ConfigMode="Classics" IsLog="true" Targets="" Layout="{LongDate} - {message}"></Logger>
    <Logger name="AddressLogger" ConfigMode="Classics" IsLog="true" Targets="" Layout="{LongDate} - {message}"></Logger>

  </Loggers>

  <!-- 计数器对象 -->
  <Counters>
  </Counters>
</ThinkDev.Logging>